@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  position: fixed;
  background-color: #eee;
  z-index: 1;
  width: 100vw;
  align-items: center;
  padding: 0;
}

#header-img {
  width: 60px;
  height: 60px;
}

ul,
nav {
  display: flex;
  list-style: none;
  padding: 0;
}

nav,
li {
  margin: 0;
}

header a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  margin: 0 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

header a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  background-image: url(Images/Background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  height: 100vh;
  align-items: baseline;
  justify-content: center;
  padding-left: 30px;
  flex-direction: column;
}

.bg-img {
  position: absolute;
  margin: auto;
  max-height: 100%;
  /*max-width: 100%;*/
  max-width: 80%;
  left: 50%;
  top: 15%;
  bottom: 0;
  right: 0;
}

/*.main:before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background: #FFFFFF;
  position: absolute;
  z-index: -1;
}*/

.text-group {
  font-family: Montserrat, sans-serif;
  position: absolute;
  width: 49%;
  height: 30%;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: auto;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.button {
  width: 365px;
  height: 41px;
  background: #d73851;
  border: 1px solid #d73851;
  padding: 10px;
}

#learn {
  background-color: #ffffff;
  display: inline-block;
  color: black;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding: 20px 70px;
}

.heading-01 {
  font-size: 36px;
  margin: auto;
  padding-bottom: 20px;
}

.heading-01:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 70px;
  background: #d73851;
  border-radius: 30px;
  left: 40px;
  bottom: -14%;
}

.text {
  padding: 0 6% 6%;
  font-size: 18px;
}

.cards {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.property-card {
  height: 45vh;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.property-image {
  height: 6em;
  width: 14em;
  padding: 1em 0;
  right: 0;
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-01 {
  background-image: url(Images/card_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-02 {
  background-image: url(Images/card_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.image-03 {
  background-image: url(Images/card_03.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.property-description {
  background-color: #ffffff;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.property-social-icons {
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 1em;
  left: 1em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.property-card:hover .property-image {
  height: 18em;
}

.property-card:hover .property-social-icons:hover {
  background-color: blue;
  cursor: pointer;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

#trailer {
  background-image: url(Images/logo.png), url(Images/base.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%, 90%;
  display: inline-block;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 20px 70px;
}

.heading-02 {
  display: inline-block;
  font-size: 36px;
  margin: auto;
  padding-bottom: 20px;
}

.heading-02:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 70px;
  background: #d73851;
  border-radius: 30px;
  left: 40px;
  top: 202%;
}

#video {
  position: relative;
  left: 50%;
  height: 50vh;
  transform: translate(-50%, 25%);
}

.base {
  max-width: 100%;
  max-height: 100%;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

form {
  display: flex;
  height: 40vh;
  align-items: flex-end;
  justify-content: center;
}

input {
  width: 300px;
  height: 40px;
  margin-right: -20px;
}

#submit {
  background-color: #d73851;
  border: none;
  color: #ffffff;
  font-size: larger;
  margin: 0;
  width: 200px;
  height: 43px;
  padding-bottom: 4px;
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  header a {
    margin: 0 30px;
    padding: 0;
  }

  .heading-01 {
    padding: 0;
  }

  .text {
    padding: 0 6%;
    font-size: 1rem;
  }

  .property-card {
    margin-right: 2%;
  }

  .heading-01 .heading-02 {
    font-size: 24px;
  }

  .heading-01:before .heading-02:before {
    width: 60px;
  }

  .video-box {
    display: none;
  }

  form {
    height: 95vh;
  }
}

@media screen and (max-width: 768px) {
  header a {
    margin: 0 20px;
    padding: 0;
  }

  .text-group {
    top: 22%;
  }

  .heading-01:before {
    bottom: -16%;
  }

  .text {
    font-size: 1rem;
    padding: 0 6%;
  }

  .cards {
    padding-left: 4%;
    text-align: center;
  }

  .property-description {
    width: auto;
    height: 60%;
    font-size: 0.8rem;
  }

  .property-image {
    height: 10em;
    width: 14em;
  }

  .property-card {
    height: 16em;
    width: 12em;
  }
}

@media screen and (max-width: 619px) {
  header a {
    margin: 0 15px;
  }
  h1 {
    font-size: 2.7rem;
    margin-top: 0;
  }

  .property-card {
    height: 12em;
  }

  .property-image {
    height: 96px;
    width: 14em;
  }

  .property-description {
    font-size: 0.7rem;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 2rem;
  }

  header a {
    font-size: 1rem;
    margin: 0 10px;
  }

  #header-img {
    width: 14%;
  }

  .text-group {
    top: 30%;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  .heading-01 {
    padding-bottom: 3%;
  }

  .heading-01 .heading-02 {
    font-size: 24px;
  }

  .heading-01:before {
    bottom: -16%;
  }

  .heading-02:before {
    top: 201%;
    height: 60px;
  }

  .text {
    font-size: 0.9rem;
    padding-bottom: 3%;
  }

  .cards {
    padding-left: 6%;
  }
  .property-card {
    margin: 0;
    height: 13em;
  }
}

@media screen and (max-width: 433px) {
  header a {
    font-size: 0.9rem;
    margin: 0 10px;
  }

  .text-group {
    top: 31%;
  }

  h1 {
    font-size: 2rem;
  }

  .text {
    font-size: 0.7rem;
  }

  .cards {
    width: 360px;
  }

  .property-card {
    margin-right: 6%;
    height: 14em;
  }

  .property-description {
    font-size: 0.6rem;
  }
}

@media (max-height: 500px) {
  header {
    height: 13vh;
  }

  #header-img {
    max-width: 5%;
    margin-top: 0;
  }

  header a {
    font-size: 1rem;
  }

  .main {
    background-size: 42%;
  }

  .text-group {
    top: 22%;
  }

  .video-box {
    display: none;
  }

  .headind-01,
  .text {
    padding: 0;
  }

  .heading-01:before {
    bottom: -18%;
  }

  .property-card {
    height: 40vh;
  }

  .property-description {
    height: 8em;
  }

  h5 {
    font-size: 1em;
  }

  .property-description p {
    font-size: 14px;
  }

  #trailer {
    background-size: 20%, 70%;
  }

  form {
    height: 90vh;
  }
}
