@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  position: fixed;
  background-color: #eee;
  z-index: 10;
  width: 100%;
  align-items: center;  
  justify-content: space-between;
  padding:10px 50px 0;
}

@media {max-width: 767px} {
  header {
    height: 100%;
  }
}

#header-img {
 max-width: 10%; 
 padding-top: 10px;
 margin-left: 10px;
}

nav {
  display: flex;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 0;
  list-style: none;
  justify-content: space-between;
}
ul, nav {
  display: flex;
  list-style: none;
  padding: 0;
}

 nav, li {
  margin: 0;
}

header a { 
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  margin: 60px;
  cursor: pointer;
}

header a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  z-index: 2;
 /* position: relative;*/
}

.main {
  display: flex; 
  background-color: #FFFFFF; 
  height: 100vh;
  align-items: baseline;
  justify-content: center;
  padding-left: 30px;
  flex-direction: column;
  }

.bg-img {
  position: absolute;
  margin: auto;
  max-height: 100%;
  /*max-width: 100%;*/
  max-width: 80%;
  left: 50%;
  top: 15%;
  bottom: 0;
  right: 0;
}

/*.main:before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background: #FFFFFF;
  position: absolute;
  z-index: -1;
}*/

.text-group {
  font-family: Montserrat, sans-serif;
  position: absolute;
  width: 49%;
  height: 30%;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
}


h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: auto;
  }

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.button{
  width: 365px;
  height:41px;
  background: #d73851;
  border: 1px solid #d73851;
  padding: 10px;
}

a {
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

 
#learn {
  background-color:  #FFFFFF; 
  display: inline-block;
  color: black;
  margin: 0 auto;
  height: 100%;
  padding: 20px 70px;
}

.heading-01 {
  font-size: 36px;
  margin: auto;
  padding-bottom: 20px;
}

.heading-01:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 20px;
  height: 70px;
  background: #D73851;
  border-radius: 30px;
  left: 40px;
  bottom: -14%;
}

.cards {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  /*border: medium solid #d73851a1;*/
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  overflow:hidden;
 }

.property-image
{
  height: 6em;
  width: 14em;
  padding: 1em 0;
  right: 0;
  position: absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-01 {
background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/mode-1.jpg);
background-size:cover;
background-repeat:no-repeat;
}

.image-02 {
  background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/mode-2.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

.image-03 {
  background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/system-photo-04.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

.property-description
{
  background-color: #FFFFFF;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-social-icons
{
  width:1em;
  height:1em;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

.text {
  padding: 0 60px 60px;
  font-size: 18px;
}  

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}


#watch {
 display: inline-block;
 background-color: #FFFFFF;
 width: 100vw;
 height: 100vh;
 padding: 20px 70px;
}

.heading-02 {
  font-size: 36px;
  margin: auto;
  padding-bottom: 20px;
}

.heading-02:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 20px;
  height: 70px;
  background: #D73851;
  border-radius: 30px;
  left: 40px;
  top: 203%;
}


.video-container {
}

.video-property{
    position: relative;
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.base {
  max-width: 100%;
  max-height: 100%;
}

.sub-form{
  display: flex;
  justify-content: center;
  padding: inherit;
}

input {
  width: 300px;
  height: 40px;
}
